In [1]:
import pandas as pd

In [32]:
b = pd.read_csv('C:/Users/prayme/Downloads/10.21 교수간담회 로그 기록.CSV', encoding='utf8')
b

,Name,Email,Join Time,Leave Time,Duration(Minutes),Alternative Score
0,은재 오,snoopy@hnu.kr,10/21/2020 11:36:18,10/21/2020 14:39:33,184.0,NaN
1,윤영돈,yooncoach@gmail.com,10/21/2020 11:36:43,10/21/2020 14:30:38,174.0,NaN
2,은재 오,snoopy@hnu.kr,10/21/2020 11:39:49,10/21/2020 13:03:57,85.0,NaN
3,임상훈 (IM# SANGHOON),NaN,10/21/2020 11:56:50,10/21/2020 12:04:22,8.0,NaN
4,19721 이해리,NaN,10/21/2020 11:59:19,10/21/2020 14:24:21,146.0,NaN
5,종오 김,jokim1019@hanmail.net,10/21/2020 12:01:56,10/21/2020 12:02:39,1.0,NaN
6,종오 김,jokim1019@hanmail.net,10/21/2020 12:03:05,10/21/2020 12:06:03,3.0,NaN
7,17388,NaN,10/21/2020 12:17:39,10/21/2020 12:18:17,1.0,NaN
8,송연숙,NaN,10/21/2020 12:19:33,10/21/2020 14:31:31,132.0,NaN
9,윤용석,NaN,10/21/2020 12:26:48,10/21/2020 14:38:19,132.0,NaN
10,곽동철 19718,NaN,10/21/2020 12:27:42,10/21/2020 14:31:34,124.0,NaN
11,황요성,yshwangg@hnu.kr,10/21/2020 12:29:22,10/21/2020 14:30:51,122.0,NaN
12,17388,NaN,10/21/2020 12:30:29,10/21/2020 14:31:49,122.0,NaN
13,조민아,NaN,10/21/2020 12:31:54,10/21/2020 13:32:48,61.0,NaN
14,곽노열,NaN,10/21/2020 12:32:33,10/21/2020 14:30:35,119.0,NaN
15,담당교수_김선휘,NaN,10/21/2020 12:33:50,10/21/2020 14:25:02,112.0,NaN
16,이강수,NaN,10/21/2020 12:34:07,10/21/2020 14:39:33,126.0,NaN
17,박의환,NaN,10/21/2020 12:34:34,10/21/2020 14:17:21,103.0,NaN
18,이윤주,NaN,10/21/2020 12:35:11,10/21/2020 14:26:07,111.0,NaN
19,임상훈 (IM# SANGHOON),NaN,10/21/2020 12:36:26,10/21/2020 14:20:40,105.0,NaN
20,회화전공_이상욱,NaN,10/21/2020 12:36:30,10/21/2020 14:32:14,116.0,NaN
21,박임수 19639,NaN,10/21/2020 12:37:45,10/21/2020 14:31:13,114.0,NaN
22,권성준 토목환경,NaN,10/21/2020 12:38:48,10/21/2020 14:20:41,102.0,NaN
23,차신,NaN,10/21/2020 12:39:46,10/21/2020 14:20:50,102.0,NaN
24,박일수,tallpark83@hnu.kr,10/21/2020 12:39:56,10/21/2020 12:56:09,17.0,NaN
25,제명 이,peteripp@hnu.kr,10/21/2020 12:40:00,10/21/2020 12:49:18,10.0,NaN
26,종오 김,jokim1019@hanmail.net,10/21/2020 12:40:01,10/21/2020 14:30:33,111.0,NaN
27,성인하,NaN,10/21/2020 12:40:37,10/21/2020 14:30:54,111.0,NaN
28,Chulki Chang,ckchang@hnu.kr,10/21/2020 12:41:21,10/21/2020 14:22:01,101.0,NaN
29,Galaxy Tab A (2016) with S Pen,NaN,10/21/2020 12:42:51,10/21/2020 12:52:24,10.0,NaN
30,eunhee Joo,originalpj@naver.com,10/21/2020 12:43:35,10/21/2020 13:19:50,37.0,NaN
31,신숙 박,jobstar@hanmail.net,10/21/2020 12:45:00,10/21/2020 13:33:18,49.0,NaN
32,신환 반,joyinall@naver.com,10/21/2020 12:45:04,10/21/2020 14:31:24,107.0,NaN
33,미래가능성,NaN,10/21/2020 12:45:06,10/21/2020 14:31:37,107.0,NaN
34,윤현19711(프랑스어문학전공),hyeonyun@hnu.kr,10/21/2020 12:45:27,10/21/2020 14:30:33,106.0,NaN
35,EUNCHONG KIM,nworc2@gmail.com,10/21/2020 12:46:51,10/21/2020 12:48:11,2.0,NaN
36,의류 김윤희,NaN,10/21/2020 12:47:03,10/21/2020 13:42:08,56.0,NaN
37,test,NaN,10/21/2020 12:48:38,10/21/2020 14:30:29,102.0,NaN
38,제명 이,peteripp@hnu.kr,10/21/2020 12:49:19,10/21/2020 13:34:01,45.0,NaN
39,신민철,NaN,10/21/2020 12:56:14,10/21/2020 14:21:32,86.0,NaN
40,박일수,tallpark83@hnu.kr,10/21/2020 12:56:40,10/21/2020 14:39:33,103.0,NaN
41,박성우,NaN,10/21/2020 13:13:38,10/21/2020 14:18:29,65.0,NaN
42,정유경,NaN,10/21/2020 13:17:28,10/21/2020 14:26:44,70.0,NaN
43,구정화,catharsis9@gmail.com,10/21/2020 13:22:42,10/21/2020 14:20:50,59.0,NaN
44,제명 이,peteripp@hnu.kr,10/21/2020 13:34:02,10/21/2020 14:21:46,48.0,NaN
45,Mina Cho,minacho9802@gmail.com,10/21/2020 13:34:43,10/21/2020 14:20:41,46.0,NaN
46,은재 오,snoopy@hnu.kr,10/21/2020 13:48:27,10/21/2020 14:32:53,45.0,NaN
47,한남대학교 박신숙,jobstar@hanmail.net,10/21/2020 14:14:08,10/21/2020 14:20:31,7.0,NaN
48,조형호,NaN,10/21/2020 14:17:28,10/21/2020 14:32:09,15.0,NaN
49,김윤희,yhkim@hnu.kr,10/21/2020 14:21:46,10/21/2020 14:30:26,9.0,NaN
50,신숙 박,jobstar@hanmail.net,10/21/2020 13:34:05,10/21/2020 14:13:34,40.0,NaN

In [33]:
# extract columns
c = b.filter(items=['Name', 'Duration(Minutes)'])
c

                              Name  Duration(Minutes)
0                             은재 오              184.0
1                              윤영돈              174.0
2                             은재 오               85.0
3               임상훈 (IM# SANGHOON)                8.0
4                        19721 이해리              146.0
5                             종오 김                1.0
6                             종오 김                3.0
7                            17388                1.0
8                              송연숙              132.0
9                              윤용석              132.0
10                       곽동철 19718              124.0
11                             황요성              122.0
12                           17388              122.0
13                             조민아               61.0
14                             곽노열              119.0
15                        담당교수_김선휘              112.0
16                             이강수              126.0
17                             박의환              103.0
18                             이윤주              111.0
19              임상훈 (IM# SANGHOON)              105.0
20                        회화전공_이상욱              116.0
21                       박임수 19639              114.0
22                        권성준 토목환경              102.0
23                              차신              102.0
24                             박일수               17.0
25                            제명 이               10.0
26                            종오 김              111.0
27                             성인하              111.0
28                    Chulki Chang              101.0
29  Galaxy Tab A (2016) with S Pen               10.0
30                      eunhee Joo               37.0
31                            신숙 박               49.0
32                            신환 반              107.0
33                           미래가능성              107.0
34               윤현19711(프랑스어문학전공)              106.0
35                    EUNCHONG KIM                2.0
36                          의류 김윤희               56.0
37                            test              102.0
38                            제명 이               45.0
39                             신민철               86.0
40                             박일수              103.0
41                             박성우               65.0
42                             정유경               70.0
43                             구정화               59.0
44                            제명 이               48.0
45                        Mina Cho               46.0
46                            은재 오               45.0
47                       한남대학교 박신숙                7.0
48                             조형호               15.0
49                             김윤희                9.0
50                            신숙 박               40.0

In [34]:
DICT = {}
for idx, row in c.iterrows():
    try:
        DICT[row['Name']] += row['Duration(Minutes)']
    except:
        DICT[row['Name']] = row['Duration(Minutes)']

In [35]:
DICT2 = {
    'Name': list(DICT.keys()),
    'Duration(Minutes)': list(DICT.values())
}

In [36]:
df = pd.DataFrame.from_dict(DICT2)

In [37]:
df.to_csv('./save.csv', encoding='utf-8-sig')