In [1]:
import pandas as pd
import os

In [2]:
base_dir = "C:/Users/prayme/Documents/카카오톡 받은 파일/새 폴더/matching"
os.listdir(base_dir)

['a', 'b', 'result']

In [3]:
csv = pd.read_csv(os.path.join(base_dir, "b/글로벌기업 취업스쿨_신청자리스트_sheet1.csv"), encoding='utf-8-sig')

In [4]:
pd.concat([csv.loc[csv['이름'] == '박서연'], csv.loc[csv['이름'] == '박서연']], axis=1)

     전공        학번  학년   이름 남/여    전공        학번  학년   이름 남/여
0  무역학과  20181445   3  박서연  여자  무역학과  20181445   3  박서연  여자

In [5]:
# 출석부에서 학과/학번/학년/이름/성별/참가시간/나간시간/기간
path = os.path.join(base_dir, 'a')
for file in os.listdir(path):
    csv = pd.read_csv(os.path.join(path, file), encoding='utf-8-sig')
    A = pd.read_csv(os.path.join(base_dir, "b/글로벌기업 취업스쿨_신청자리스트_sheet1.csv"))
    
    # 아예 재구성해보자
    df = pd.DataFrame()
    for idx, row in csv.iterrows():
        df = pd.concat([df, pd.concat([row, A.loc[A['이름'] == row['Name']]], axis=1, ignore_index=True)])
    df.to_csv(os.path.join(base_dir, "result" + file), encoding='utf-8-sig')