In [2]:
import pandas as pd
import os

In [6]:
base_dir = "C:/Users/prayme/Documents/카카오톡 받은 파일/2020-11-12"
os.listdir(base_dir)

['2020학년도「프로그램」 출석부 양식.xlsx',
 'list',
 'log',
 'result',
 '~$2020학년도「프로그램」 출석부 양식.xlsx']

In [4]:
pd.concat([csv.loc[csv['이름'] == '박서연'], csv.loc[csv['이름'] == '박서연']], axis=1)

     전공        학번  학년   이름 남/여    전공        학번  학년   이름 남/여
0  무역학과  20181445   3  박서연  여자  무역학과  20181445   3  박서연  여자

In [70]:
# 출석부에서 학과/학번/학년/이름/성별/참가시간/나간시간/기간
csv_path = os.path.join(base_dir, 'log')
list_path = os.path.join(base_dir, 'list')
for file in os.listdir(csv_path):
    csv = pd.read_csv(os.path.join(csv_path, file), encoding='utf-8-sig')
    A = pd.read_csv(os.path.join(list_path, '1.csv'), encoding='utf-8-sig')

    # 아예 재구성해보자
    result = []
    for idx, row in csv.iterrows():
        list_row = A[row['이름'] == A["이름"]].loc[:, ["학과", "학번", "학년", "이름", "성별"]].values.tolist() # dataframe to list
        if list_row:
            csv_row = row.values.tolist()[2:] # series to list
            result.append(list_row[0] + csv_row)
            

    df = pd.DataFrame(result)
    df.to_csv(os.path.join(base_dir, "result" + file), encoding='utf-8-sig')